ckdflow.json
[{"id":"44511d46.338dd4","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"12f4c619.32ba7a","type":"ui_form","z":"44511d46.338dd4","name":"","label":"","group":"f7a37053.fb789","order":0,"width":0,"height":0,"options":[{"label":"Enter Your Age","value":"age","type":"number","required":true},{"label":"Enter your Blood Pleasure","value":"bp","type":"number","required":true},{"label":"Enter your Specific Gravity","value":"sg","type":"number","required":true},{"label":"Enter your Albumin LEvel","value":"al","type":"number","required":true},{"label":"Enter your Sugar Level","value":"su","type":"number","required":true},{"label":"Enter your Red Blood Cells Condition(normal-1 / abnormal-0)","value":"rbc","type":"number","required":true},{"label":"Enter your Pus Cells Condition(normal-1 / abnormal-0)","value":"pc","type":"number","required":true},{"label":"Enter your Pus Cell Clumps Condition(present-1 / notpresent-0)","value":"pcc","type":"number","required":true},{"label":"Enter Bacteria Details(present-1 / notpresent-0)","value":"ba","type":"number","required":true},{"label":"Enter your Blood Glucose Random count","value":"bgr","type":"number","required":true},{"label":"Enter your Blood Urea count","value":"bu","type":"number","required":true},{"label":"Enter your serum creatinine count","value":"sc","type":"number","required":true},{"label":"Enter Sodium levels in your body","value":"sod","type":"number","required":true},{"label":"Enter Potassium levels in your body","value":"pot","type":"number","required":true},{"label":"Ente Hemoglobin Level","value":"hemo","type":"number","required":true},{"label":"Enter packed cell volume count","value":"pcv","type":"number","required":true},{"label":"Enter White blood cell count ","value":"wc","type":"number","required":true},{"label":"Enter Red blood cell count ","value":"rc","type":"number","required":true},{"label":"Enter Your Hypertension State(yes-1 / no-0)","value":"htn","type":"number","required":true},{"label":"Enter your Diabetes mellitus state(yes-1 / no-0)","value":"dm","type":"number","required":true},{"label":"Do you have coronary artery disease(yes-1 / no-0)","value":"cad","type":"number","required":true},{"label":"Enter Your  Appetite condition(good-1 / poor-0)","value":"appet","type":"number","required":true},{"label":"Do you have Pedal edema (yes-1 / no-0)","value":"pe","type":"number","required":true},{"label":"Do you have Anemia (yes-1 / no-0)","value":"ane","type":"number","required":true},{"label":"Enter your name","value":"name","type":"text","required":false}],"formValue":{"age":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":"","name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":410,"y":560,"wires":[["79d6ba3b.5e8f14","4c075926.0bcb18","39578dab.e87bc2","41134d36.5692c4","3d632d39.2ef762","5a3958eb.f20bf8","9abc66bd.8297c8","5c213a2.4e41ac4","2a5d7e26.ce5c52","15404d94.b003a2","77a2c71d.a77338","ab004538.5c50a8","522d759b.4fab5c","fa53551e.0d2308","b6bd1404.499248","e0902a49.72ac78"]]},{"id":"79d6ba3b.5e8f14","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":17,"width":0,"height":0,"name":"","label":"White Blood Cells Count","format":"{{msg.payload.wc}}","layout":"row-spread","x":510,"y":780,"wires":[]},{"id":"4c075926.0bcb18","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":18,"width":0,"height":0,"name":"","label":"Red Blood Cells Count","format":"{{msg.payload.rc}}","layout":"row-spread","x":760,"y":660,"wires":[]},{"id":"39578dab.e87bc2","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":13,"width":0,"height":0,"name":"","label":"Sodium","format":"{{msg.payload.sod}}","layout":"row-spread","x":120,"y":660,"wires":[]},{"id":"fa53551e.0d2308","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":5,"width":0,"height":0,"name":"","label":"Sugar","format":"{{msg.payload.su}}","layout":"row-spread","x":110,"y":760,"wires":[]},{"id":"522d759b.4fab5c","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":4,"width":0,"height":0,"name":"","label":"Albumin","format":"{{msg.payload.al}}","layout":"row-spread","x":280,"y":780,"wires":[]},{"id":"ab004538.5c50a8","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":3,"width":0,"height":0,"name":"","label":"Specific Gravity","format":"{{msg.payload.sg}}","layout":"row-spread","x":740,"y":600,"wires":[]},{"id":"77a2c71d.a77338","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":2,"width":0,"height":0,"name":"","label":"Blood Pressure","format":"{{msg.payload.bp}}","layout":"row-spread","x":140,"y":600,"wires":[]},{"id":"15404d94.b003a2","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":1,"width":0,"height":0,"name":"","label":"Age","format":"{{msg.payload.age}}","layout":"row-spread","x":770,"y":800,"wires":[]},{"id":"9abc66bd.8297c8","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":10,"width":0,"height":0,"name":"","label":"Blood Glucose Random","format":"{{msg.payload.bgr}}","layout":"row-spread","x":310,"y":660,"wires":[]},{"id":"41134d36.5692c4","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":14,"width":0,"height":0,"name":"","label":"Potassium","format":"{{msg.payload.pot}}","layout":"row-spread","x":750,"y":720,"wires":[]},{"id":"3d632d39.2ef762","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":15,"width":0,"height":0,"name":"","label":"Hemoglobin","format":"{{msg.payload.hemo}}","layout":"row-spread","x":530,"y":660,"wires":[]},{"id":"5c213a2.4e41ac4","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":11,"width":0,"height":0,"name":"","label":"Blood Urea","format":"{{msg.payload.bu}}","layout":"row-spread","x":110,"y":720,"wires":[]},{"id":"2a5d7e26.ce5c52","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":12,"width":0,"height":0,"name":"","label":"Serum Creatinine","format":"{{msg.payload.sc}}","layout":"row-spread","x":330,"y":720,"wires":[]},{"id":"5a3958eb.f20bf8","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":16,"width":0,"height":0,"name":"","label":"Packed Cell Value","format":"{{msg.payload.pcv}}","layout":"row-spread","x":550,"y":720,"wires":[]},{"id":"b6bd1404.499248","type":"function","z":"44511d46.338dd4","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"9148c57b-d705-475b-9101-9d19eee836b8\"\nvar password=\"f037dd02-3eb8-458f-a355-7992e99fa570\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["2c2dbe60.1aaf92","ee543917.a3a288","64a2ea4b.b75f64","cf0f3ca.730d9c","fc2c4895.6b0028","ce516e69.bd674","51dc6661.826dc8","97e78f0d.6a923","6f789502.6e0c6c","a6e5d78a.d66718","c6f93710.07af18","d8520e53.e8d75"]]},{"id":"2c2dbe60.1aaf92","type":"http request","z":"44511d46.338dd4","name":"","method":"GET","ret":"obj","url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","x":850,"y":200,"wires":[["abdf2879.36b048","44efcd56.9ae044"]]},{"id":"abdf2879.36b048","type":"function","z":"44511d46.338dd4","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar bp=global.get(\"bp\");\nvar sg=global.get(\"sg\");\nvar al=global.get(\"al\");\nvar su=global.get(\"su\");\nvar rbc=global.get(\"rbc\");\nvar pc=global.get(\"pc\");\nvar pcc=global.get(\"pcc\");\nvar ba=global.get(\"ba\");\nvar bgr=global.get(\"bgr\");\nvar bu=global.get(\"bu\");\nvar sc=global.get(\"sc\");\nvar sod=global.get(\"sod\");\nvar pot=global.get(\"pot\");\nvar hemo=global.get(\"hemo\");\nvar pcv=global.get(\"pcv\");\nvar wc=global.get(\"wc\");\nvar rc=global.get(\"rc\");\nvar htn=global.get(\"htn\");\nvar dm=global.get(\"dm\");\nvar cad=global.get(\"cad\");\nvar appet=global.get(\"appet\");\nvar pe=global.get(\"pe\");\nvar ane=global.get(\"ane\");\nmsg.payload={\"fields\":[\"age\",\"bp\",\"sg\",\"al\",\"su\",\"rbc\",\"pc\",\"pcc\",\"ba\",\"bgr\",\"bu\",\"sc\",\"sod\",\"pot\",\"hemo\",\"pcv\",\"wc\",\"rc\",\"htn\",\"dm\",\"cad\",\"appet\",\"pe\",\"ane\"],\"values\":[[age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":220,"wires":[["f50224e5.ecdff8","21733de8.886042"]]},{"id":"f50224e5.ecdff8","type":"http request","z":"44511d46.338dd4","name":"","method":"POST","ret":"obj","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/6529a811-fd68-4a82-8d1b-03a175a24ff2/deployments/422f1033-b017-4e16-bedf-28c71ee59c7e/online","tls":"","x":1270,"y":200,"wires":[["7848224d.b1badc"]]},{"id":"7848224d.b1badc","type":"function","z":"44511d46.338dd4","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":520,"wires":[["45d4a115.d7cc3","a8042916.020c68","af5e4662.5df9a8"]]},{"id":"44efcd56.9ae044","type":"debug","z":"44511d46.338dd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":140,"wires":[]},{"id":"21733de8.886042","type":"debug","z":"44511d46.338dd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":140,"wires":[]},{"id":"ee543917.a3a288","type":"debug","z":"44511d46.338dd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":340,"wires":[]},{"id":"9ff30ea2.0ca97","type":"ui_audio","z":"44511d46.338dd4","name":"","group":"f7a37053.fb789","voice":"en-GB","always":"","x":1320,"y":460,"wires":[]},{"id":"45d4a115.d7cc3","type":"debug","z":"44511d46.338dd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1181,"y":541,"wires":[]},{"id":"a8042916.020c68","type":"function","z":"44511d46.338dd4","name":"","func":"if(msg.payload==1)\n{\n    msg.payload=\"Our Prediction results says that you have chronic kidney disease.\";\n}\nelse\n    msg.payload=\"Our Prediction results says that You didn't have Chronic Kidney Disease\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":460,"wires":[["9ff30ea2.0ca97","fcb1c6e9.da61d8"]]},{"id":"e0902a49.72ac78","type":"function","z":"44511d46.338dd4","name":"Greeting","func":"msg.payload=\"Hello \"+msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":640,"wires":[["6fa8982c.7adf08"]]},{"id":"6fa8982c.7adf08","type":"ui_audio","z":"44511d46.338dd4","name":"","group":"f7a37053.fb789","voice":"en-GB","always":"","x":1340,"y":600,"wires":[]},{"id":"64a2ea4b.b75f64","type":"function","z":"44511d46.338dd4","name":"pe_conversion","func":"if(msg.payload.pe===0)\n    msg.payload=\"No\";\nelse\n    msg.payload=\"Yes\";\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["1f4e93a9.c940ec"]]},{"id":"1f4e93a9.c940ec","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":23,"width":0,"height":0,"name":"","label":"Pedal Edema ","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":160,"wires":[]},{"id":"cf0f3ca.730d9c","type":"function","z":"44511d46.338dd4","name":"rbc_conversion","func":"if(msg.payload.rbc===0)\n    msg.payload=\"Abnormal\";\nelse\n    msg.payload=\"Normal\";\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["6c6f3c0a.728684"]]},{"id":"6c6f3c0a.728684","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":6,"width":0,"height":0,"name":"","label":"Red Blood Cells","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":280,"wires":[]},{"id":"fc2c4895.6b0028","type":"function","z":"44511d46.338dd4","name":"pc_conversion","func":"if(msg.payload.pc===0)\n    msg.payload=\"Abnormal\";\nelse\n    msg.payload=\"Normal\";\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["51f9fcbc.42a3d4"]]},{"id":"51f9fcbc.42a3d4","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":7,"width":0,"height":0,"name":"","label":"Pus Cells","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":520,"wires":[]},{"id":"ce516e69.bd674","type":"function","z":"44511d46.338dd4","name":"pcc_conversion","func":"if(msg.payload.pcc===0)\n    msg.payload=\"Not Present\";\nelse\n    msg.payload=\"Present\";\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":20,"wires":[["c9a0901f.f7dbb"]]},{"id":"c9a0901f.f7dbb","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":8,"width":0,"height":0,"name":"","label":"Pus Cell Clumps","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":80,"wires":[]},{"id":"97e78f0d.6a923","type":"function","z":"44511d46.338dd4","name":"htn_conversion","func":"if(msg.payload.htn===0)\n    msg.payload=\"No\";\nelse\n    msg.payload=\"Yes\";\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":120,"wires":[["cf6736fb.dd6988"]]},{"id":"51dc6661.826dc8","type":"function","z":"44511d46.338dd4","name":"ba_conversion","func":"if(msg.payload.ba===0)\n    msg.payload=\"Not Present\";\nelse\n    msg.payload=\"Present\";\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":220,"wires":[["2e740b3d.e9f294"]]},{"id":"2e740b3d.e9f294","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":9,"width":0,"height":0,"name":"","label":"Bacteria","format":"{{msg.payload}}","layout":"row-spread","x":240,"y":280,"wires":[]},{"id":"cf6736fb.dd6988","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":19,"width":0,"height":0,"name":"","label":"Hypertension","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":180,"wires":[]},{"id":"6f789502.6e0c6c","type":"function","z":"44511d46.338dd4","name":"dm_conversion","func":"if(msg.payload.dm===0)\n    msg.payload=\"No\";\nelse\n    msg.payload=\"Yes\";\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":420,"wires":[["cbcba6d0.678dd8"]]},{"id":"a6e5d78a.d66718","type":"function","z":"44511d46.338dd4","name":"cad_conversion","func":"if(msg.payload.cad===0)\n    msg.payload=\"No\";\nelse\n    msg.payload=\"Yes\";\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":20,"wires":[["19ce739b.460fec"]]},{"id":"cbcba6d0.678dd8","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":20,"width":0,"height":0,"name":"","label":"Diabetes Mellitus ","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":480,"wires":[]},{"id":"19ce739b.460fec","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":21,"width":0,"height":0,"name":"","label":"Coronary Artery Disease","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":80,"wires":[]},{"id":"c6f93710.07af18","type":"function","z":"44511d46.338dd4","name":"ane_conversion","func":"if(msg.payload.ane===0)\n    msg.payload=\"No\";\nelse\n    msg.payload=\"Yes\";\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["4250dbb5.a3a054"]]},{"id":"d8520e53.e8d75","type":"function","z":"44511d46.338dd4","name":"appet_conversion","func":"if(msg.payload.appet===0)\n    msg.payload=\"Poor\";\nelse\n    msg.payload=\"Good\";\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":320,"wires":[["1104195.908fee7"]]},{"id":"1104195.908fee7","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":22,"width":0,"height":0,"name":"","label":"Appetite","format":"{{msg.payload}}","layout":"row-spread","x":240,"y":380,"wires":[]},{"id":"4250dbb5.a3a054","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":24,"width":0,"height":0,"name":"","label":"Anemia","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":400,"wires":[]},{"id":"96487036.6e17d","type":"ui_text","z":"44511d46.338dd4","group":"f7a37053.fb789","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":340,"wires":[]},{"id":"fcb1c6e9.da61d8","type":"ui_toast","z":"44511d46.338dd4","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1320,"y":700,"wires":[]},{"id":"af5e4662.5df9a8","type":"function","z":"44511d46.338dd4","name":"","func":"if(msg.payload==1)\n{\n    msg.payload=\"You might have chronic kidney disease.\";\n}\nelse\n    msg.payload=\"You didn't have Chronic Kidney Disease\";\nreturn msg;","outputs":1,"noerr":0,"x":1007,"y":381,"wires":[["96487036.6e17d"]]},{"id":"f7a37053.fb789","type":"ui_group","z":"","name":"Chronic Disease","tab":"cdaa2f9f.91fd5","disp":true,"width":"6","collapse":false},{"id":"cdaa2f9f.91fd5","type":"ui_tab","z":"","name":"Disease","icon":"dashboard","disabled":false,"hidden":false}]